@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>

<div class="row">
    <aside class="col-sm-4">
            <article class="card-body">
                <h4 class="card-title mb-4 mt-1">ABOUT US</h4>
                <p>This is an Ecommerce Website that was created by Group 4 of the CSCE 361 course. The co-creators of this website are Tai Vo, James Nguyen, Justin Le, Krishna Kotha, and Albert Li. We provide products that you can exercise with comfortably, ranging from many different types of clothing and manufacturers.</p>
            </article>
    </aside> <!-- col.// -->
    <aside class="col-sm-4"> </aside> <!-- col.// -->
    <aside class="col-sm-4">
            <article class="card-body">
                <h4 class="card-title mb-4 mt-1">OUR LOCATION</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d653.3488723979841!2d-96.70529368359264!3d40.8193227477215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8796bee22bdd93f7%3A0x295b36c1d4616ce8!2sAvery%20Hall!5e0!3m2!1sen!2sus!4v1619498949618!5m2!1sen!2sus" width="360" height="330" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </article>

    </aside> <!-- col.// -->
</div>
